/* - MOBILE STYLES
---------------------------------------------- */

@media only screen and (min-width: 870px) and (max-width: 1170px) {


}


/* 2. Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 570px) and (max-width: 869px) {

    body {
        font-size: 1em;
    }

    h1 {
        font-size:30.5px
    }

    h2 {
        font-size:31.5px;
        line-height:1.2;
    }

    #menu {
        width: 90%;
    }

    #site-head {
        width: 100%;
        height: 30%;
        min-height: 330px;
    }

    #sidebar {
        float: none;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }

    .post-author-info {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .post-headline {
        width: 90%;
        max-width: 90%;
        text-align: center;
        bottom: 15px;
    }

    .post-headline > .post-title {
        font-size
    }

    .post-author-avatar {
        float: none;
        margin: 0;
    }

    .post-author-meta {
        float: none;
    }

    .post-pubdate, .post-tags, .post-author-name {
        text-align: center;
    }

    .content {
        width: 90%;
    }

    .posts {
        width: 100%;
        max-width: 100%;
    }

    .site-footer {
        width: 100%;
    }
}


/* 1. Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 569px) {

    body {
        font-size: 1em;
    }

    h1 {
        font-size:30.5px
    }

    h2 {
        font-size:31.5px;
        line-height:1.2;
    }

    #menu {
        width: 90%;
    }

    #site-head {
        width: 100%;
        height: 30%;
        min-height: 200px;
    }

    #sidebar {
        float: none;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }

    .post-author-info {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .post-headline {
        width: 90%;
        max-width: 90%;
        text-align: center;
        bottom: 15px;
    }

    .post-headline > .post-title {
        font-size
    }

    .post-author-avatar {
        float: none;
        margin: 0;
    }

    .post-author-meta {
        float: none;
    }

    .post-pubdate, .post-tags {
        text-align: center;
    }

    .content {
        width: 90%;
    }

    .posts {
        width: 100%;
        max-width: 100%;
    }

    .site-footer {
        width: 100%;
    }

}
