<article itemscope itemtype="http://schema.org/BlogPosting" class="{{post_class}}">
    <section class="post-content">
        <div class="post-content-inner">
            <div class="post-body" itemprop="articleBody" >{{content}}</div>
        </div>
        <section itemprop="comment" class="post-comments">
            <div id="disqus_thread"></div>
        </section>
    </section>
</article>